<p id="notice"><%= notice %></p>

<p>
  <strong>Publication:</strong>
  <%= @participation.publication %>
</p>

<p>
  <strong>Author:</strong>
  <%= @participation.author %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
