<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @measurement.value %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @measurement.created_at %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @measurement.sensor.name %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
